	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #F6F4F3;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 400;
		color: #4E4D4D;
	}
	
	
	h1, h2, h3, h4
	{
		margin: 0;
		padding: 0;
        text-align: center;
	}
	
	p, ol, ul
	{
		margin-top: 0;
      
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #383838;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		width: 1200px;
		margin: 0px auto;
	}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 0 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		overflow:  hidden;
		margin: 0em 0 3em 0;
		padding-top: 1em;
		text-align: center;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

/*********************************************************************************/
/* Major Styles                                                                  */
/*********************************************************************************/

	.major
	{
		overflow: hidden;
		margin-bottom: 4em;
		text-align: center;
	}
	
	.major h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 3em;
		font-weight: 700;
		color: #3f3f3f;
	}

	.major .byline
	{
		display: block;
		padding-top: 0.2em;
		font-weight: 300;
		font-size: 2em;
	}

/*********************************************************************************/
/* Title Styles                                                                  */
/*********************************************************************************/

	.title
	{
		text-align: center;
	}
	
	.title h2
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-weight: 700;
		color: #3f3f3f;
	}

	.title .byline
	{
		display: block;
		padding-top: 1em;
		font-weight: 300;
		font-size: 1.1em;
	}


/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin: 1em 0em;
		padding: 1em 3em 1em 3em;
		background: #3f3f3f;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #FFF;
	}
	
	.button:before
	{
	}
		
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background: #3f3f3f;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		padding: 4em 0em;
		text-transform: uppercase;
	}

	#logo h1
	{
		text-align: center;
		font-weight: 900;
		font-size: 2.5em;
	}
	
	#logo h1 a
	{
	}

	#logo span
	{
		padding: 0em 0em 0em 0.5em;
	}
	
	#logo h1:before
	{
		
	}
	
	#logo a 
	{
		color: #3f3f3f;
	}


/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu ul
	{
		margin: 0;
		padding: 20px 0px 20px 0px;
		list-style: none;
		line-height: normal;
		text-align: center;
	}
	
	#menu li
	{
		display: inline-block;
	}
	
	#menu a
	{
		display: block;
		padding: 1em 2em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #FFF;
	}
	
	#menu .current_page_item a
	{
	}
	
	#menu a:hover
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		padding: 6em 0em;
		border-top: 1px solid #E5E5E5;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 588px;
	}
	
	#content .title
	{
		padding-bottom: 2em;
		text-align: left;
	}
	
	#content h2
	{
		font-size: 2em;
	}
	
	#content .byline
	{
		padding-top: 0;
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 588px;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #FFF;
	}
	
	#featured h2
	{
		text-align: center;
	}

	#featured .icon
	{
		position: relative;
		display: block;
		margin: 0px auto 20px auto;
		line-height:  normal;
		font-size: 6em;
		text-align: center;
		color: #3f3f3f;
	}

	
	.column
	{
		width: 23%;
        float: left;
        margin-right: 2%;
	}
	
	

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		padding: 6em 0em;
	}
	
	#portfolio
	{
		overflow: hidden;
		text-align: center;
	}
	
	#portfolio img
	{
		margin: 0;
		padding: 0;
	}
	
	#portfolio .box
	{
		padding: 30px;
		background: #FFF;
		border-bottom: 2px solid #7C7C7C;
		border-right: 1px solid #DADADA;
		border-left: 1px solid #DADADA;
	}

#inputformdiv {
    border-radius: 5px;
    background-color: #F6F4F3;
    padding: 50px;
    width: 100%;
    padding: 13px 20px;
    margin: 7px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.Grid {
    background-color: #e8e5e4;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    font-family: Calibri;
    color: #474747;
}

    .Grid td {
        padding: 2px;
        border: solid 1px #ada8a6;
    }

        .Grid th {
            padding: 4px 2px;
            color: #fff;
            background-color: #7d7676;
            border-color: #7d7676;
            font-size: 0.9em;
        }

    .Grid .alt {

        background: #fcfcfc url(Images/grid-alt.png) repeat-x top; }

        .Grid .pgr {
            background: #9999a9;
        }

    .Grid .pgr table { margin: 3px 0; }

            .Grid .pgr td {
                border-width: 0;
                padding: 0 6px;
                border-left: solid 1px #7d7676;
                background-color: #7d7676;
                font-weight: bold;
                color: #fff;
                line-height: 12px;
            }

            .Grid .pgr a {
                color: #d2d2d2;
                text-decoration: none;
            }

    .Grid .pgr a:hover { color: #000; text-decoration: none; }


.logo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #333333;
    overflow: hidden;
    margin-top: -6px;
}

.logo img{
    width: 32px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.main-content{
    margin-top: 150px;
}

.carousel-item img {
    height: 300px !important;
}


.container .panel-center {
    margin: auto;
}


.list-view-filter li {
    background-color: #6f6b6b;
    color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    transition: 0.3s;
    cursor:pointer;
}
    .list-view-filter li:hover {
        background-color: #423232;
    }
    .list.list-view-filter {
        flex-direction: column;
    }

    .list.list-view-filter li {
        padding: 10px;
    }

    .list.grid-view-filter {
        flex-flow: row wrap;
    }

    .list.grid-view-filter li {
        width: calc(50% - 210px);
        padding: 100px;
        margin-right: 10px;
        text-align: center;
    }

.card .card-header-animal {
    background: linear-gradient(60deg, #767d7d, #516163);
}

.img-raised {
    width: 200px !important;
    height: 200px !important;
}

.success-section .story {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px 0 10px;
}

.success-section .blockquote {
    height: 100%;    
}


.live {
    overflow: hidden;
}

    .live > li {
        list-style: none;
        position: relative;
        padding: 0 0 0 3.5em;
        margin: 0 0 .5em 10px;
        -webkit-transition: .12s;
        transition: .12s;
    }

        .live > li::before {
            position: absolute;
            content: '\2022';    
            top: 0;
            left: 0;
            text-align: center;
            font-size: 2em;
            opacity: .5;
            line-height: .75;
            -webkit-transition: .5s;
            transition: .5s;
        }

        .live > li:hover {
            color: #7a7a7a;
        }

            .live > li:hover::before {
                -webkit-transform: scale(2);
                transform: scale(2);
                opacity: 1;
                text-shadow: 0 0 4px;
                -webkit-transition: .1s;
                transition: .1s;
            }
    

    .live.numbers {
        counter-reset: xxx 0;
    }

        .live.numbers > li::before {
            content: "Step " counter(xxx,decimal) ". ";
            counter-increment: xxx 1;
            font-size: 1em;
            opacity: .5;
            line-height: 1.4;
            -webkit-transition: .5s;
            transition: .5s;
        }

        .live.numbers > li:hover:before {
            opacity: 1;
            left: -10px;
            -webkit-transform: none;
            transform: none;
            text-shadow: none;
            -webkit-transition: .12s;
            transition: .12s;
        }


.adopt-content ol, .adopt-content ul {
    text-align: left;
    padding: 1.5em;
}

.adopt-content h5 {
    font-weight: 500;
}

.shadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.pagerButton{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 0;
    line-height: 1.25;
    color: #2196f3;
    background-color: transparent;
    border: 0 solid #dee2e6;
}


.button-panel .container {
    position: relative;
}
        .button-panel .container .content {
            max-height: 5.5em;
            overflow: hidden;
            transition: max-height 0.5s ease;
        }
        .button-panel .container .label-container {
            bottom: 1px;
            position: absolute;
            right: 0;
        }
            .button-panel .container .label-container #read-more-label1, .button-panel .container .label-container #read-more-label1, .button-panel .container .label-container #read-more-label2, .button-panel .container .label-container #read-more-label3, .button-panel .container .label-container #read-more-label4, .button-panel .container .label-container #read-more-label5 {
                background-color: white;
                color: #6e6ed0;
                cursor: pointer;
                float: right;
            }
                .button-panel .container .label-container #read-more-label1:before, .button-panel .container .label-container #read-more-label2:before, .button-panel .container .label-container #read-more-label3:before, .button-panel .container .label-container #read-more-label4:before, .button-panel .container .label-container #read-more-label5:before {
                    content: '[Read More]';
                }

    .button-panel .container #read-more-trigger1,
    .button-panel .container #read-more-trigger2,
    .button-panel .container #read-more-trigger3,
    .button-panel .container #read-more-trigger4,
    .button-panel .container #read-more-trigger5 {
        display: none;
    }
            .button-panel .container #read-more-trigger1:checked ~ .label-container #read-more-label1:before,
            .button-panel .container #read-more-trigger2:checked ~ .label-container #read-more-label2:before,
            .button-panel .container #read-more-trigger3:checked ~ .label-container #read-more-label3:before,
            .button-panel .container #read-more-trigger4:checked ~ .label-container #read-more-label4:before,
            .button-panel .container #read-more-trigger5:checked ~ .label-container #read-more-label5:before {
                content: '[Read Less]';
            }
           
            .button-panel .container #read-more-trigger1:checked ~ .content,
            .button-panel .container #read-more-trigger2:checked ~ .content,
            .button-panel .container #read-more-trigger3:checked ~ .content,
            .button-panel .container #read-more-trigger4:checked ~ .content,
            .button-panel .container #read-more-trigger5:checked ~ .content{
                max-height: 100em;
            }


.button-panel .img-raised {
    width: 150px !important;
    height: 150px !important;
}






.main .alert {
    position: fixed;
    left: 10%;
    width: 80%;
    z-index: 999;
}

.btn-box:hover {
    background-color: #ded5d5;
    border-color: #ded5d5;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

.btn-box {
    cursor: pointer;
    padding: 0px 10px;   
}

.btn-box .info{
    padding: 10px 0 0px;
}